<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="2.1.0-dev065" targetFramework="net4" requireReinstallation="true" />
  <package id="Droid_Web" version="1.0.4" targetFramework="net451" />
  <package id="jQuery" version="3.0.0.1" targetFramework="net45" />
  <package id="officeribbon" version="3.5.8.4" targetFramework="net4" />
  <package id="OpenCvSharp-AnyCPU" version="2.4.10.20170126" targetFramework="net451" />
  <package id="OpenTK" version="2.0.0" targetFramework="net451" />
  <package id="OpenTK.GLControl" version="1.1.2349.61993" targetFramework="net4" />
  <package id="QRCoder" version="1.1.9" targetFramework="net45" />
  <package id="SampleDependency" version="1.0.0" targetFramework="net4" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net46" />
  <package id="ZXing" version="2.1.1" targetFramework="net4" />
</packages>